.navbar{
  background-color: black;
  width: 100%;
}
.colorList li{
  margin-right: 15px;
  a{
    color: grey;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}
.registerLink{
  background-color: #fdc600;
  a:visited{
    color: black!important;
  }
}
